services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: my-fullstack-app-client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
      - /app/.next
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    command: npm run dev

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: my-fullstack-app-server
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    command: npm run dev
    environment: 
   
      - MONGODB_URL=${MONGODB_URL}
